.componentAdvanced {
  background-image: linear-gradient(
    to bottom right,
    rgba(89, 219, 121, 0.219),
    rgba(182, 235, 168, 0.219)
  );
  display: flex;
  width: 100%;
  position: relative;
  height: 100%;
}
.collapse > div {
  border: solid;
  border-color: white;
  box-shadow: none;
}
.buttonStyle > button {
  border: solid;
  border-radius: 10px;
  padding: 10px;
  padding-top: 2px;
}
.imageAdvanced {
  width: 307px;
}
