.cardImage {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

.component {
  background-image: linear-gradient(
    to bottom right,
    rgba(89, 219, 121, 0.219),
    rgba(182, 235, 168, 0.219)
  );

  display: flex;
}
.navButton {
  position: fixed;
  bottom: 0;
}
.buttonStyle > div > div > button {
  border: solid;
  border-radius: 10px;
  padding: 2px 2px;
  padding-top: 2px;
}
.firstButtons {
  display: flex;
  padding: 10px;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
