.container {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: auto;
  width: 100%;
  margin-top: 200px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttons-style {
  background: transparent;
  border-radius: 10px;
  border-color: black;
}
.background {
  background-image: linear-gradient(
    to bottom right,
    rgba(89, 219, 121, 0.219),
    rgba(182, 235, 168, 0.219)
  );

  opacity: 0.9;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#Name {
  border-radius: 10px;
  background: transparent;
  border-color: black;
}
#Surname {
  border-radius: 10px;
  background: transparent;
  border-color: black;
}
#Email {
  border-radius: 10px;
  background: transparent;
  border-color: black;
}
