.background {
  background-image: linear-gradient(
    to bottom right,
    rgba(89, 219, 121, 0.219),
    rgba(182, 235, 168, 0.219)
  );

  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputs {
  margin-left: auto;
  margin-right: auto;
  background: transparent;
}
.login > input {
  border-radius: 10px;
  background: transparent;
  border-color: black;
}
#Username {
  border-radius: 10px;
  background: transparent;
  border-color: black;
}
#Password {
  border-radius: 10px;
  background: transparent;
  border-color: black;
}

.button {
  background: transparent;
  border-radius: 10px;
  border-color: black;
}
